.app {
    background-color: rgb(248, 244, 240);
    margin: 4px;
}

.bordered-component {
    background-color: white;
    border-radius: var(--bs-border-radius) !important;
    height: 100%;
    margin: 5px 0px;
    padding: 1rem !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.dropdown-button {
    width: 100%;
    height: 24em;
    overflow-y: scroll;
}

.dropdown-menu {
    height: 300px;
    overflow-y: scroll;
}

.ad-block-style {
    display: block;
}

.float-right {
    float: right;
}

.search-bar-filter tr,
td {
    border: none !important;
}

.dd-label-cell {
    padding-top: 12px;
    float: right;
}

.no-data-report {
    text-align: center;
}

.report-col-gap {
    margin-left: 4px;
    margin-right: 4px;
}
.report-body {
    width: 60%;
}

.report-guidelines {
    font-size: smaller;
}

/* hide the AsyncTypeahead spinner */
.rbt-loader {
    display: none;
}

.user-input {
    width: 200px;
}

.user-input-dropdown {
    max-width: 200px;
    padding: 6px !important;
}

.hidden {
    display: none;
}

.center-text {
    text-align: center;
}

.small-header {
    text-align: center;
    font-size: smaller;
    border-collapse: collapse;
    border-bottom: 1px solid lightgray;
    width: auto;
}

.invalid-input {
    color: red;
}

.valid-input {
    color: green;
}

.cursor-pointer {
    cursor: pointer;
}

/* TODO - Explanation popover */
a[rel="popover"] {
    display: none !important;
}

.status-message {
    font-style: italic;
    font-size: small;
    color: darkred;
}

.signin-col {
    background-color: white;
    height: 50px;
    padding-left: 6px;
    padding-top: 8px;
    margin-left: -24px;
}
